@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-ExtraBold.ttf);
  }
  @font-face {
    font-family: AddeleSemiBold;
    src: url(./fonts/AdelleSansEXT-Semibold.ttf);
  }
  @font-face {
    font-family: AddeleThin;
    src: url(./fonts/AdelleSansEXT-Thin.ttf);
  }
  
:root {
  --blue1: #28418a;
  --blue2: #515c99;
  --blue3: #7579ac;
  --blue4: #9a9bc2;
  --gold1: #c6992f;
  --gold2: #cfa852;
  --gold3: #d9bb7b;
  --gold4: #e4cfa2;
}