@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-ExtraBold.ttf);
  }
  @font-face {
    font-family: AddeleSemiBold;
    src: url(./fonts/AdelleSansEXT-Semibold.ttf);
  }
  @font-face {
    font-family: AddeleThin;
    src: url(./fonts/AdelleSansEXT-Thin.ttf);
  }
  